[user]
	name = Torbjørn Vatn
	email = torbjorn@vatn.org
[color]
  branch = auto
  status = auto
  diff = auto
[format]
  pretty = oneline
[alias]
  a = add
  ci = commit -v
  cia = commit -v -a
  cp = cherry-pick
  l = log
  ll = log -p
  reb = rebase
  up = pull --rebase --stat -v
  co = checkout
  st = status
  br = branch
  unstage = reset HEAD
 	plog = log --pretty=tformat:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[apply]
  whitespace = nowarn
[push]
	default = upstream
[core]
	quotepath = false
	editor = /usr/local/bin/vim
	excludesfile = /Users/torbjorn/.gitignore_global
[rerere]
	enabled = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
