;; Your file has been converted to the new flat format.
;; Conversion does not preserve comments or indentation.
;; File is backed up at /Users/torvatn/Library/Application Support/LightTable/User/user.keymap.bak
[
 [:app "pmeta-shift-c" :toggle-console]
 [:app "pmeta-alt-right" :tabs.next]
 [:app "pmeta-alt-left" :tabs.prev]
 [:app "pmeta-shift-n" :new-file :set-syntax]
 [:app "pmeta-shift-w" :workspace.show]
 [:app "pmeta-ctrl-backspace" :clear-console]
 [:app "pmeta-alt-up" :tabset.next]
 [:app "pmeta-alt-down" :tabset.prev]

 [:editor.keys.hinting.active "-enter" [:passthrough]]
 [:editor "pmeta-backspace" :editor.delete-line]
 [:editor "alt-shift-w" :editor.watch.unwatch]
 [:editor "pmeta-shift-l" :goto-line]
 [:editor "pmeta-d" :editor.doc.toggle]
 [:editor "pmeta-j" :smart-indent-selection]
 [:editor "alt-w" :editor.watch.watch-selection]
 [:editor "pmeta-l" :editor.select-line]
 [:editor "pmeta--" :toggle-comment-selection]
 [:editor "pmeta-shift-backspace" :clear-inline-results]

 [:editor.clj "ctrl-shift-p" :paredit.select.clear]
 [:editor.clj "alt-shift-r" :paredit.unwrap.parent]
 [:editor.clj "ctrl-h" :paredit.grow.left]
 [:editor.clj "alt-down" :paredit-plus.splice-sexp-killing-forward]
 [:editor.clj "alt-k" :paredit-plus.kill]
 [:editor.clj "alt--" :paredit-plus.split-sexp]
 [:editor.clj "ctrl-n" :paredit.shrink.right]
 [:editor.clj "alt-2" :paredit-plus.wrap-quote]
 [:editor.clj "alt-r" :paredit-plus.wrap-round]
 [:editor.clj "ctrl-p" :paredit.select.parent]
 [:editor.clj "alt-s" :paredit-plus.splice-sexp]
 [:editor.clj "ctrl-s" :paredit.grow.right]
 [:editor.clj "ctrl-t" :paredit.shrink.left]
 [:editor.clj "alt-ctrl-8" :paredit-plus.wrap-square]
 [:editor.clj "alt-ctrl-9" :paredit-plus.wrap-curly]
 [:editor.clj "alt-shift--" :paredit-plus.join-sexps]
 [:editor.clj "alt-up" :paredit-plus.splice-sexp-killing-backward]
]
